/* Header.css */

.header-container {
  background-color: #22254b;
  color: #fff;
  display: flex;
  justify-content: space-between; /* 수정: 로고와 내비게이션 링크 사이의 공간을 양쪽으로 분배 */
  align-items: center; /* 추가: 세로 중앙 정렬 */
  padding: 10px 20px;
}

.logo {
  padding-left: 150px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  flex: 1;
}

.nav-links li {
  font-size: 18px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

.nav-links a:hover {
  text-decoration: underline;
}
